@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main {
  font-family: 'yg-jalnan';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  
  h1 {
    font-size: 3rem;
  }
  
  .rotation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
  }
  
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap; 
  }

  
  @keyframes spinContainer {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .menu-item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border-radius: 10px;
    margin: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    
    &.selected {
      opacity: 1;
      background-color: #ff5733;
    }
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #3498db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    
    p {
      margin: 10px 0;
      font-size: 18px;
      text-align: center;
    }
    
    .popbtn {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #2980b9;
      }
    }
  }
  button{
    border: none;
    background: none;
    margin-left: 10px;
    padding: 0;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'yg-jalnan';
    border-bottom: 1px solid green;
    &:hover{
    border-bottom: 1px solid rgb(212, 241, 45);
    color: #ff5733;  
    }
  }
}


input {
  font-size: 15px;
  color: #222222;
  width: 300px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  background: none;
  z-index: 5;
}

input::placeholder { color: #aaaaaa; }
input:focus { outline: none; }